html
  head
    title 개역한글입니당.
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet',href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet',href='/css/read.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/ui/1.11.1/jquery-ui.js')
    script(src='/js/jquery-scrollto.js')
    script(src='/js/initbible.js')
    //
      script(src='https://getfirebug.com/firebug-lite.js').
        {
          overrideConsole : false,
          startOpened :true,
          enableTrace :true
        }
  body
    .wrapper
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          form(name='mBible',role='form', style="margin-top:7px;margin-bottom:7px;")
            ul.nav.navbar-nav
              li.active
                a(onclick='modalHistroy();')
                  i.fa.fa-bookmark.fa-2x.ma-top-4px.fb-back-deep
              li.zIndexOn
                a
                  input.form-control.autocomplete.book-in( name='book', placeholder='예)창세기', onclick='modalBooks();',readonly)
              li.active.search-icon
                a(onclick='modalBooks();')
                  i.fa.fa-search.fa-2x.ma-top-4px.fb-back-deep
              li &nbsp;
              li.zIndexOn
                a(style='padding-left: 0px;padding-right: 0px;')
                  input.form-control.m-input( name='chap', placeholder='장', onclick='modalChapters();',readonly)
              li.active.caret-icon
                a(onclick='modalChapters();')
                  i.fa.fa-caret-down.fa-2x.ma-top-4px.fb-back-deep
              li.invisible
                a(style='padding-left: 10px;padding-right: 0px;')
                  input.form-control.m-input.m-input-hidden( name='phase' placeholder='절')
      .jumbotron
        .container
          h3 주 말씀 내 발의 등이요.
      .container
        .content
          .prevChap
          .cbody
            a.btn.btn-primary.install-btn(href='#', onclick='bibleInstall();') 설치(4M - 시간 걸림)
          .nextChap
        .moveBar
          .mvLeft
            a(onclick='chapterMoveByDelta(-1)')
              i.fa.fa-angle-left.fa-4x
          .mvRight
            a(onclick='chapterMoveByDelta(1)')
              i.fa.fa-angle-right.fa-4x
    .footer
    .modal.fade#mBooks
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal')
              span(aria-hidden=true) &times
              span.sr-only 닫기
            h4 성경선택
          .modal-body
    .modal.fade#mChaps
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal')
              span(aria-hidden=true) &times
              span.sr-only 닫기
            h4 장 선택
          .modal-body
    .modal.fade#mHistory
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal')
              span(aria-hidden=true) &times
              span.sr-only 닫기
            h4 이전검색
          .modal-body
    .modal.fade#mWait
      .modal-dialog
        .modal-content
          .modal-body
            h4 조금만 기다리세요
    .modal.fade#mInfo
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal')
              span(aria-hidden=true) &times
              span.sr-only 닫기
          .modal-body
            h4 마지막 장입니다.
script.
  $( document ).ready(function( $ ) {
    bibleInit();
    $("input").on('change', function(){
      bibleRead();
    });
  });
